
.view-container{
    header{
        padding-right: 30px;
        position: relative;
        .add-button{
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            background-color: transparent;
            border: 0;
            font-size: 34px;
            border: 1px solid green;
            border-radius: 50px;
            svg{
                float: left;
            }
        }
    }
    h1{
      font-size: 2rem;
    }
    .content-container{
      padding: 10px 5px;
      .inventory-form-des{
        font-size: 1.2rem;
      }
      .inventory-form-time{
        color: #E83981;
        font-weight: 600;
      }
      .inventory-filter-container{
        padding: 20px 20px;
        border: 1px solid #D4D4D4;
        margin-top: 30px;
        .filter-title{
            font-size: 16px;
            padding: 0 0 5px 2px;
        }
        input{
            padding: 5px 10px;
        }
        .department-select{
            height: 100%;
        }
      }
      .inventory-list-container{
        padding: 20px 20px;
        border: 1px solid #D4D4D4;
        margin-top: 30px;
        ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          li{
            display: block;
            .row{
              margin: 0;
            }
            &:last-child{
              .inventory-row{
                border-bottom: 0;
              }
            }
          }
        }
        .inventory-row{
          padding: 10px 10px;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #D4D4D4;
          .inventory-col-no{
            font-weight: 600;
          }
          &.title{
            background-color: #EDEDED;
          }
        }
        .check-button, .delete-button{
          background: #EEEEEE;
          border: 1px solid #C5C5C5;
          padding: 5px 10px;
          box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
          margin-left: 10px;
          &:disabled{
            background-color: #087E15;
            color: white;
          }
        }
        .delete-button{
            background-color: #FA1704;
            color: white;
        }
        .inventory-pagination-container{
            margin-top: 20px;
            width: 100%;
            text-align: center;
            padding: 10px;
        }
      }
    }
  }
  #confirm-modal, #delete-modal{
    .confirm-title, .delete-title{
      margin-bottom: 25px;
    }
    .close-button{
      margin-top: 5px !important;
    }
  }